# dependencies
**node_modules

# client
/client/.pnp
/client/.pnp.js

# server
/new-server/dist

# production
/client/build

# testing
/client/coverage

# misc
.DS_Store


# env
**.env
**.env.stage.dev
**.env.stage.prod

# config
/new-server/config/*
/new-server/logs/*