# dependencies
**node_modules

# client
/client/.pnp
/client/.pnp.js
/client/.next/
/client/out/

# production
/client/build

# testing
/client/coverage

# vercel
/client/vercel

# server
/server/dist

# misc
**DS_Store

# logs
/server/logs/*

# env
**.env
**.env.stage.dev
**.env.stage.prod
**.env.docker

# config
/server/config/*