<!DOCTYPE html>
<html>
<head>
    <title>Password Update</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            background-color: #f6f6f6;
            -webkit-font-smoothing: antialiased;
            font-size: 14px;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        .container {
            font-family: Arial, sans-serif; 
            max-width: 600px;
            margin: 0 auto;
        }

        .btn {
            display: inline-block;
            background-color: #6EB0D6;
            color: #ffffff;
            border-radius: 5px;
            padding: 15px 30px;
            text-decoration: none;
        }

        .btn:hover {
            background-color: #5ca2c2;
            cursor: pointer;
        }

        .btn:active {
            background-color: #457093;
        }

        .btn-container {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Update your Password</h2>
        <p>If you havent requested for password change</p>
        <div class="btn-container">
            <a href="{{url}}reset/{{token}}" class="btn">Update Password</a>
        </div>
        <p>Thank you,<br>The Localhost Team</p>
    </div>
</body>
</html>