<html>
  <head>
    <title>Email Verification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        background-color: #f6f6f6;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
      }
      
      .container {
        font-family: Arial, sans-serif;
        max-width: 600px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Account Creation on LocalHost</h2>
      <p>Thank you <b>{{name}}</b> for signing up on our platform.</p>
      <p>Thank you,<br />The Localhost Team</p>
    </div>
  </body>
</html>
