<html>
  <head>
    <title>Email Verification</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    {{!-- <link rel='stylesheet' href='./styles.css' /> --}}
  </head>
  <body>
    <div class='container'>
      <h2>Account Creation on LocalHost</h2>
      <p>Thank you {{name}} for signing up on our platform. </p>
      <p>Thank you,<br />The Localhost Team</p>
    </div>
  </body>
</html>